*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    /* 1rem = 16px */
}
.press-start {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
body{
    --background: #211951;
    --green: #15F5BA;
    --purple: #836FFF;
    --white: #F0F3FF;
}

body{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 2rem;
}
/* =============================================== Main Styling =============================================== */
.content{
    width: 90vw;
    height: 100%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    & h1{
        padding: 1rem;
        font-size: 2.5rem;
        letter-spacing: 2rem;
    }

    & h3{
        font-size: 1.2rem;
    }

    & .players{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        padding: 0.5rem;
    }

    & .active-text{
        color: var(--purple);
    }
    & .target{
        border: 0;
        border-radius: 4px;
        padding: 0.5rem;
        border-bottom: 3px solid var(--green);
        animation: target .5s infinite; 

        & span {
            color: var(--green);
        }
    }

    & #hash{
        width: 25rem;
    }

    & .container{
        width: 24rem;
        height: 24rem;
        display: flex;
        flex-wrap: wrap;
        & .box{
            width: 8rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            color: var(--purple);
        }

        & .one{
            border-width: 0 0.2rem 0.2rem 0; 
            border-color:  var(--green);
            border-style: solid;
        }
        & .two{
            border-width: 0 0.2rem 0.2rem 0.2rem; 
            border-color:  var(--green);
            border-style: solid;
        }
        & .three{
            border-width: 0 0 0.2rem 0.2rem; 
            border-color:  var(--green);
            border-style: solid;
        }
        & .four{
            border-width: 0.2rem 0.2rem 0.2rem 0; 
            border-color:  var(--green);
            border-style: solid;
        }
        & .five{
            border: 0.2rem solid var(--green);
        }
        & .six{
            border-width: 0.2rem 0 0.2rem 0.2rem; 
            border-color:  var(--green);
            border-style: solid;
        }
        & .seven{
            border-width: 0.2rem 0.2rem 0 0; 
            border-color:  var(--green);
            border-style: solid;
        }
        & .eight{
            border-width: 0.2rem 0.2rem 0 0.2rem; 
            border-color:  var(--green);
            border-style: solid;
        }
        & .nine{
            border-width: 0.2rem 0 0 0.2rem; 
            border-color:  var(--green);
            border-style: solid;
        }
    }
    
}



.btn{
    font-family: "Press Start 2P", system-ui;
    margin-top: 4rem;
    width: 8rem;
    height: 2.5rem;
    border-radius: 12px;
    background-color:var(--green);
    color: var(--background);
}

@keyframes target {
    to{
        transform: translateY(-2%);
    }
}

@media (width <= 770px) {
    html{
        font-size: 80%;
    }
}
@media (width <= 428px) {
    html{
        font-size: 43.75%;
    }
    .content{
        gap: 3rem;
        & h1{
            padding: 1.5rem 1rem;
        }
    }
}
@media (width <= 380px) {
    html{
        font-size: 37%;
    }
}
@media (width <= 325px) {
    html{
        font-size: 30%;
    }
}